.hide-sidebar {
    display: none
}

.main-wrapper {
    /*    background-image: url(../img/trafaret/trafaret-home.jpg);*/
    background-repeat: no-repeat;
    background-position: center 4px
}

.img-link img {
    display: block;
    width: 100%;
    height: auto!important;
}

.news-info {
    display: block;
    width: 100%;
}

.news-movie-article {
    border: solid #ffffff 1px;
    background: #ffffff;
}

.news-movie-article,
.news-movie-article-left,
.news-movie-article-right {
    min-height: 30px;
    height: auto!important;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
}

.news-movie-article {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.news-movie-article-left {
    width: 48.326359832635983263598326359833%;
    float: left;
}

.news-movie-article-right {
    width: 51.673640167364016736401673640167%;
    float: left;
}

.home-section-title {
    min-height: 17px;
    height: auto!important;
    height: 17px;
}

.home-news-acrticle-img {
    display: block;
    width: 100%;
    height: auto!important;
}

.news-movie-article-right-pad {
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
}


/*.news-movie-article-right-pad:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}*/

.news-movie-article {
    margin-bottom: 1px;
}

.single-slider-out-cell,
.single-slider,
.single-slider-item {
    min-height: 17px;
    height: auto!important;
    height: 17px;
}

.single-slider-out-cell {
    position: relative;
    top: 0;
    left: 0;
}

.single-slider-item-img {
    display: block;
    width: 100%;
    height: auto!important;
}

.home-section-right-pad {
    padding: 0 7px;
}

.PRIVACY-PAGE:after,
.PRIVACY-PAGE-PAD:after,
.search-result-item-inner-pad:after,
.list-dd:after,
.list-dd-item:after,
.list-dd-item-txt:after,
.home-section-right-pad:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.ad-spacer,
.header-spacer {
    min-height: 14px;
    height: auto!important;
    height: 14px;
}

.single-slider-out-cell,
.single-slider {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.single-slider-title {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.single-slider-title-txt {
    padding: 8px 10px;
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: "ProximaNova-Semibold";
}

.news-info-bottom {
    background-image: -moz-linear-gradient( 90deg, rgb(28, 28, 28) 0%, rgba(28, 28, 28, 0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(28, 28, 28) 0%, rgba(28, 28, 28, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(28, 28, 28) 0%, rgba(28, 28, 28, 0) 100%);
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 86px;
    width: 100%;
}

.movie-info-cell {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 58px;
    z-index: 100;
}

.movie-title-on-slide-item-txt {
    display: block;
    color: #ffffff;
    font-size: 20px;
}

.movie-info-cell-pad {
    padding-left: 56px;
    padding-top: 12px;
    font-family: "ProximaNova-Bold";
}

.subtitle {
    color: #fff;
    font-size: 14px;
    font-family: "ProximaNova-Regular";
    padding-top: 0px;
    padding-left: 1px;
}

.play-btn {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(31, 149, 239);
    border-radius: 50%;
    background-color: rgba(18, 18, 18, 0.702);
    position: absolute;
    left: 12px;
    top: 12px;
    width: 34px;
    height: 34px;
    z-index: 164;
}

.play-btn-svg-cell,
.play-btn-svg {
    display: block;
    width: 10px;
    height: 14px;
}

.play-btn-svg-cell {
    display: block;
    fill: #1f95ef;
    height: 14px;
    left: 12px;
    position: absolute;
    top: 8px;
    width: 10px;
}

.single-slider .owl-controls.clickable {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 10000;
    width: 100%;
    text-align: right;
}

.single-slider .owl-controls .owl-page span {
    width: 6px!important;
    height: 6px!important;
    margin: 3px !important
}

.single-slider .owl-pagination {
    padding-right: 10px;
}

.single-slider .owl-pagination {
    text-align: right
}

.slide-place {
    display: block;
    min-height: 4px;
    height: auto!important;
    height: 4px;
}

.ajax-more-news-btn {
    width: 100%;
}

.ajax-more-news-btn {
    clear: both;
    width: 100%;
}

.home-section,
.home-section-left,
.home-section-right {
    min-height: 10px;
    height: auto!important;
    height: 10px;
}

@media only screen and (max-width:700px) {
    .news-movie-article {
        width: 100%;
        float: none;
        clear: both;
    }
}

.slide-place-pad {
    padding-top: 28px;
}

.home-section-title-txt {
    position: relative;
    top: 0;
    left: 0;
}

.middle-slide-out-pad {
    padding-bottom: 23px;
    clear: both;
}

.middle-slide:after,
.middle-slide-out-pad:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.middle-slide {
    background: #ffffff;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    border: solid #fff 1px;
}

.home-section-title-txt {
    display: inline
}

.middle-slide-out-relat {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.middle-slide-out-relat,
.middle-slide-item,
.middle-slide {
    min-height: 363px;
    height: auto!important;
    height: 363px;
}

.slide-place-pad .home-section-title {
    margin-bottom: 5px;
}

.ms-img {
    display: block;
    width: 100%;
    height: auto!important;
}

.ms-descr {
    font-size: 18px;
    font-family: "Proxima Nova";
    color: rgb(28, 28, 28);
    font-family: "ProximaNova-Semibold";
    text-align: left;
    padding: 11px
}

.home-section-title {
    text-align: left;
}

.left-position {
    left: 0 !important;
}

.right-position {
    right: 0 !important;
}

.home-section-left-pad {
    padding-left: 5px;
}

@media only screen and (max-width:1283px) {
    .home-cell-3 {
        display: none
    }
    .home-cell-2-pad {
        padding-right: 10px;
    }
    .hide-sidebar {
        display: block
    }
    .home-section-left-pad {
        padding-left: 7px;
    }
}


/*@media only screen and (max-width: 1130px)*/

@media only screen and (max-width: 1130px) {
    .home-section-right,
    .home-section-left {
        float: none;
        clear: both;
        width: 100%;
    }
    .ajax-more-news-btn-out-pad {
        /*padding: 0 8px 0 6px*/
    }
    .news-movie-article-left,
    .news-movie-article-right {
        float: none;
        clear: both;
    }
    .news-movie-article {
        width: 48.9%;
        float: none;
        display: inline-block;
        /*margin: 0 9px 17px auto*/
    }
    .news-movie-article:nth-child(2n+1) {
        /*margin: 0 0px 17px auto!important;*/
        float: right;
    }
    .news-movie-article-left {
        width: 100%;
    }
    .news-movie-article-right {
        width: 100%;
    }
    .news-movie-article-right-pad {
        padding-bottom: 20px
    }
    .ajax-more-news-btn {
        margin-bottom: 10px;
    }
}


/*END @media only screen and (max-width: 1130px)*/

@media only screen and (max-width:1080px) {
    .horison-news-cell-section {
        width: 50%
    }
    .news-descr-bottom {
        min-height: 160px;
        height: auto!important;
        height: 160px;
    }
    .horison-news-cell-section {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:700px) {
    .horison-news-cell-section {
        width: 100%
    }
}

.middle-slide.single-3 .owl-controls.clickable {
    display: none!important
}

.middle-slide-out-pad .arrow-next-carousel,
.middle-slide-out-pad .arrow-prev-carousel {
    margin-top: -71px;
}

.user-top-panel {
    text-align: left;
    display: inline-block;
    height: 63px;
    min-width: 190px;
    position: relative;
    top: 0;
    left: 0;
}

.user-avatar-place {
    position: absolute;
    left: 0;
    top: 12px;
    display: block;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: #1f95ef;
}

.user-avatar-place-txt {
    color: #a8a8a8;
    font-size: 15px;
    font-family: "ProximaNova-Semibold";
}

.user-avatar-place-txt {
    text-align: left;
    padding-left: 44px;
    padding-top: 22px;
    display: inline-block;
}

.main-title-slide {
    display: block;
    font-size: 32px;
    font-family: "ProximaNova-Bold";
    text-align: left;
}

.slide-link {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
}

.main-subtitle-slide {
    display: block;
    font-size: 24px;
    font-family: "ProximaNova-Regular";
}

.user-drop-down {
    display: block;
    width: 191px;
    height: 250px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 10000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.main-header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000
}

.arrow-dd {
    display: block;
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -6px;
    left: 13px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background: #fff;
    z-index: 10000
}

.avatar-svg {
    position: absolute;
    top: 10px;
    left: 6px;
    fill: #75c3ff;
}

.avatar-img {
    display: block;
    width: 36px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.main-dd-title,
.main-dd-title-txt {
    clear: both;
    display: block;
}

.main-dd-title:after,
.main-dd-title-txt:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.main-dd-title-txt {
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "ProximaNova-Semibold";
}

.user-drop-down-pad {
    padding: 30px;
}

.list-dd,
.list-dd-item,
.list-dd-item-txt {
    display: block;
    clear: both;
}

.list-dd-item-txt {
    color: #727272;
    font-size: 13px;
    font-family: "ProximaNova-Regular";
    text-decoration: none;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -icab-transition: all 0.3s ease-in-out;
}

.list-dd-item-txt:hover {
    color: #1f95ef
}

.main-dd-title {
    padding-bottom: 10px;
}

.dd-top-spacer {
    display: block;
    min-height: 17px;
}

.user-drop-down {
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.search-cell {
    position: relative;
    top: 0;
    left: 0;
}

.search-drop-down {
    display: none;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 518px;
    height: 319px;
    position: absolute;
    top: 59px;
    left: 0;
    /*    background: url(../img/search-dd.png) no-repeat center top;*/
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.search-drop-down-pad {
    clear: both;
    display: block;
    padding-right: 37px;
    padding-left: 19px;
}

.search-two-column-drop-down:after,
.search-drop-down-pad:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.search-two-column-drop-down,
.search-two-column-drop-down-left,
.search-two-column-drop-down-right {
    min-height: 294px;
    height: auto!important;
    height: 294px;
}

.search-two-column-drop-down {
    clear: both;
    width: 100%;
}

.search-two-column-drop-down-left {
    width: 231px;
}

.search-two-column-drop-down-right {
    width: 231px;
}

.search-two-column-drop-down-left,
.search-two-column-drop-down-right {
    float: left;
}

.search-sub-section,
.search-sub-section-txt {
    clear: both;
    display: block;
}

.search-sub-section:after,
.search-sub-section-txt:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.search-sub-section-txt {
    color: #000000;
    font-size: 13px;
    font-family: "ProximaNova-Semibold";
}

.search-sub-section,
.search-sub-section-txt {
    text-align: left;
}

.search-sub-section-txt {
    padding-top: 15px;
    padding-bottom: 17px;
}

#r_news_popup {
    overflow-y: auto
}

.scroll-cell {
    display: block;
    width: 229px;
    height: 251px;
    overflow: auto;
}

.scroll-cell-pad {
    clear: both;
    display: block;
}

.scroll-cell-pad:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.scroll-cell-pad {
    padding-right: 5px;
}

.search-result-item {
    background-color: rgb(255, 255, 255);
    min-height: 84px;
    height: auto!important;
    height: 84px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -icab-transition: all 0.3s ease-in-out;
    border: solid #fff 1px;
}

.search-result-item:hover {
    border: solid #eeeeee 1px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.078);
}

.search-result-item:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.search-result-item-inner-pad {
    padding: 7px 0px 7px 7px;
}

.search-result-item-inner-left,
.search-result-item-inner-right {
    display: block;
    min-height: 70px;
    height: auto!important;
    height: 70px;
}

.search-result-item-inner-left {
    float: left;
    width: 57px;
    /*    background: black;*/
}

.search-result-item-inner-right {
    float: left;
    width: 139px;
    /*    background: red;*/
}

.search-result-img {
    display: block;
    border: solid #cccccc 1px;
}

.search-result-item {}

.search-result-title,
.search-result-title-txt {
    display: block;
    text-decoration: none;
}

.search-result-title-txt {
    position: relative;
    top: -3px;
    left: -1px;
    text-decoration: none;
    color: #1f95ef;
}

.search-result-item-inner-right {
    font-size: 13px;
    line-height: auto;
    color: #727272;
}

.search-result-descr {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.search-result-descr {
    position: relative;
    top: -2px;
    left: 0;
    font-size: 12px;
}

.search-result-descr-row {
    display: block;
    padding-bottom: 3px;
}

.ajax-more-news-btn-out-pad {
    /*margin-top: -9px;*/
}

.ajax-more-news-btn-pad {
    height: auto!important;
    padding-top: 1px;
}

span.tc {
    display: block;
    padding-bottom: 10px;
    padding-left: 8px;
}

@media screen and (max-width:800px) {
    .horison-news-cell-section {
        margin-bottom: 15px;
    }
}

.horison-news-cell:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    text-decoration: none;
    visibility: hidden;
    text-indent: -999999px;
}

.user-drop-down {
    text-align: left
}

.top-nav-menu-items-list li {
    position: relative;
    top: 0;
    left: 0
}

.long-dd {
    height: 310px
}

.actor-film-carousel .owl-theme .owl-controls .owl-page span {
    background: #797979;
}

.actor-film-carousel .owl-theme .owl-controls .owl-page.active span {
    background: #1f95ef
}

.PRIVACY-PAGE,
.PRIVACY-PAGE-PAD {
    clear: both;
    display: block;
}

.INFO-PAGE-FIX {
    max-width: 990px;
    margin: 0 auto;
    min-height: 10px;
    height: auto!important;
    height: 10px
}

.term-two-column-right-pad span {
    font-weight: bold
}

ol.ol-privacy {
    list-style: initial;
    padding-left: 17px;
    padding-top: 12px;
}

.h1-terms {
    padding-top: 13px;
}

ol.ol-privacy span {
    font-weight: bold;
}

.terms-page-pad.privacy-policy .term-two-column-right-pad {
    min-height: 119px;
}

.terms-page-pad.termsofuse .term-two-column-right-pad {
    min-height: 119px;
}

.terms-cat-title.terms-title {
    padding-top: 16px;
}

.div-terms span {
    font-weight: bold;
}

.ol-terms {
    color: black;
    list-style: inherit;
    list-style-type: lower-latin;
    padding-top: 13px;
    padding-left: 21px;
}

.ol-terms-inner {
    list-style: inherit;
    list-style-type: lower-roman;
    padding-left: 42px;
}

.term-two-column-right-pad p.p-about {
    padding-bottom: 53px;
}

.person-thumbs img {
    width: 134px;
    height: 134px;
    float: left
}

.person-thumbs {
    float: left;
    position: relative;
    height: 155px;
    margin-right: 28px;
    margin-top: 23px;
    margin-bottom: 46px;
}

span.img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 132px;
    font-size: 14px;
}

.term-two-column-right-pad p.sub-par {
    padding-bottom: 5px;
}

.terms-page,
.terms-page-pad {
    text-align: center
}

.terms-page-pad {
    padding: 0 30px
}

.terms-top-spacer {
    min-height: 52px;
    height: auto!important;
    height: 52px
}

.term-two-column {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 500px
}

.term-two-column:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    text-decoration: none;
    text-indent: -999999px;
    visibility: hidden
}

.term-two-column,
.term-two-column-left,
.term-two-column-right {
    min-height: 100px;
    height: auto!important;
    height: 100px;
    position: relative;
    top: 0;
    left: 0
}

.term-two-column-left,
.term-two-column-right {
    float: left
}

.term-two-column-right-pad {
    padding-left: 279px
}

.term-two-column-left {
    float: left;
    margin-left: -100%;
    width: 250px
}

.term-two-column-right {
    float: left;
    width: 100%
}

.term-two-column-right-pad {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    padding-right: 50px;
    padding-top: 31px;
    text-align: left
}

.term-two-column-right-pad p {
    padding: 13px 0 44px
}

.terms-left-part-bg-layer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px
}

.terms-footer {
    min-height: 257px;
    height: auto!important;
    height: 257px;
    width: 100%
}

.terms-cat-title {
    font-size: 18px;
    text-align: left;
    text-transform: uppercase
}

.term-two-column-left {
    left: 0;
    padding-left: 30px;
    padding-top: 50px;
    position: relative;
    top: 0;
    z-index: 5
}

.term-two-column-left-pad {
    padding-right: 40px
}

.term-two-column {
    font-family: "ProximaNova-Regular";
}

.terms-left-part-bg-layer {
    background: #ddd;
}

.term-two-column-right {
    background: #ffffff;
}

.bottom-news-item-bg,
.single-3,
.ad-link {
    box-shadow: 0px 1px 0px 0px rgba(218, 218, 218, 1);
}

.ad-spacer,
.header-spacer {
    min-height: 16px;
    height: auto!important;
    height: 16px;
}

.news-info {
    cursor: pointer
}

.nav-head-menu ul li.current a,
.nav-head-menu ul li a:hover {
    color: #1f95ef;
    border-bottom: solid #1f94ee 2px
}

.movie-info-cell,
.play-btn,
.play-btn-svg-cell,
.play-btn-svg {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -icab-transition: all 0.3s ease-in-out;
}

.movie-info-cell:hover .play-btn-svg {
    fill: #fff;
}

.movie-info-cell:hover .play-btn {
    border: solid #fff 2px
}

#r_sign_up,
#r_del_account,
#r_subscribe_newsletter,
#r_login_company,
#r_forgot_password,
#r_password_reset,
#r_del_account,
#r_sign_up,
#r_sign_up_successfull {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
}


/*PURCHES AND HISTORY*/

.r_purchase_history {
    margin-left: 22px;
}

.r_purchase_history > div {
    min-height: 256px;
    margin-bottom: 20px;
}

.r_purchase_history > div > div {
    float: left;
    min-height: 256px;
}

.r_purchase_history > div > .r_movie_image {
    width: 170px;
    height: 256px;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
}

.r_purchase_history > div > .r_movie_image > img {
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
}

.r_movie_info {
    width: 100%;
    height: 100%;
    padding-left: 190px;
    padding-right: 20px;
}

.r_movie_info > div:nth-child(1) {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #f7f7f7;
}

.r_movie_info > div:nth-child(1) > div {
    float: left;
    height: 100%;
}

.r_movie_info > div:nth-child(1) > div:nth-child(1) {
    width: 54%;
}

.r_movie_info > div:nth-child(1) > div:nth-child(2) {
    width: 20%;
}

.r_movie_info > div:nth-child(1) > div:nth-child(3) {
    width: 26%;
}

.r_movie_info > div:nth-child(1) > div > span {
    display: block;
    font-family: ProximaNova-Regular, sans-serif;
    ;
    font-size: 14px;
    color: #1f95ef;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.r_movie_info > div:nth-child(1) > div:nth-child(1) > span {
    padding-left: 14px;
}

.r_movie_info > div:nth-child(1) > div:nth-child(2) > span {}

.r_movie_info > div:nth-child(1) > div:nth-child(3) > span {
    text-align: right;
    padding-right: 14%;
}

.r_movie_info > div:nth-child(2) {
    width: 100%;
    height: 36px;
}

.r_movie_info > div:nth-child(2) > div {
    float: left;
    height: 100%;
}

.r_movie_info > div:nth-child(2) > div:nth-child(1) {
    width: 54%;
}

.r_movie_info > div:nth-child(2) > div:nth-child(2) {
    width: 20%;
}

.r_movie_info > div:nth-child(2) > div:nth-child(3) {
    width: 26%;
}

.r_movie_info > div:nth-child(2) > div > span {
    display: block;
    font-family: ProximaNova-Regular, sans-serif;
    ;
    font-size: 14px;
    color: #727272;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.r_movie_info > div:nth-child(2) > div:nth-child(1) > span {
    padding-left: 14px;
}

.r_movie_info > div:nth-child(2) > div:nth-child(2) > span {}

.r_movie_info > div:nth-child(2) > div:nth-child(3) > span {
    text-align: right;
    padding-right: 14%;
}

.r_movie_info > div:nth-child(3) {
    width: 100%;
    min-height: 184px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #e9e9e9;
}

.r_movie_info > div:nth-child(3) > p {
    font-family: ProximaNova-Regular, sans-serif;
    font-size: 14px;
    color: #4b4b4b;
    line-height: 19px;
    padding: 18px;
}

.r_movie_info > div:nth-child(3) > p > span {
    color: #1f95ef;
}

.form-action-cell {
    padding-bottom: 20px;
}
